# Database Connection
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/umkm_copilot

# Security
# Generate using: openssl rand -hex 32
SECRET_KEY=9a4b868e4c76b92f7e02df595b11efcd98b31a29352e008faabdfd2948e9196b
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Gemini AI API
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
